 /* *{
  background-image: url("./components/image.webp");
  background-size: cover;
  background-cover: contain;
  background-repeat: no-repeat;
}  */
/* .bg{
  background-image: url("./components/images1.png");
  background-size: cover;
  background-repeat: no-repeat;
}  */